﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/colorpicker.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/colorpicker.js")" type="text/javascript"> </script>
    </head>
    <body>
        @RenderBody()
        @Html.RenderScripts()
    </body>
</html>